*.so
!ft_clibs/*.so
*.a
*.o
*.obj
*.log.txt
*.parquet
#*.pkg
*.db
/tempdir/*
/tps_tempdir/*
/logs/*
/lib/*
#/ft_clibs/*
/ft_libs/lib/*
/ft_libs/*.c

/ft_libs_old/lib/*
/ft_libs_old/*.c

duckdb.h
duckdb.hpp